.content{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 3px solid rgba(0, 8, 152, 1.00) !important;
    padding: 50px ;
}

input{
    height: 40px;
    width: 30vw;
    text-align: center;
    font-size: 15px;
    /* border-color: rgba(0, 8, 152, 1.00) !important; */
    border-bottom: 2px solid rgba(0, 8, 152, 0.674) !important;
    border-top: none;
    border-left: none;
    border-right:none ;
   

}
input::placeholder{
    color:  rgba(0, 8, 152, 1.00) !important;

}
button{
    align-self: center !important;
    padding: 10px 15px;
    background-color: rgba(0, 8, 152, 1.00) !important;
    color: #f2de6e !important;
    transition: background 0.5s ease-in-out !important;

}

button:hover{

    background-color:  #f2de6e !important;
    color:  rgba(0, 8, 152, 1.00) !important;

}